.playTable{
    position: relative;
    top: 350px;
    left: 50%;
    // margin-bottom: 150px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    // margin-bottom: 150px;
    box-shadow: -30px 15px 20px rgba(0,0,0,0.5);
    background: #fff;
}